<div class="bar bg-light">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" routerLink="">
        <img src="./assets/netflix-vector-flat-logo-735811696261671nhzlvgcmyf.png" width="70" height="70" class="d-inline-block align-content-center" alt="Logo">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/">Home</a>
          </li>
          <li class="nav-item" *ngIf="isAdmin()">
            <a class="nav-link" routerLink="/listusers">Liste des utilisateurs</a>
          </li>
          <li class="nav-item" *ngIf="isAdmin()">
            <a class="nav-link" routerLink="/film/add">Ajouter Films</a>
          </li>

          <li class="nav-item" >
            <a class="nav-link" routerLink="/Abonnement/ListAbonnement">S'abonner</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contact">Contact</a>
          </li>

          <!-- Boutons de connexion/inscription si non connecté -->
          <ng-container *ngIf="!(isLoggedIn$ | async)">
            <li class="nav-item">
              <a class="btn btn-outline-primary me-2" routerLink="/login-user">Connexion</a>
            </li>
            <li class="nav-item">
              <a class="btn btn-outline-success me-2" routerLink="/register">Inscription</a>
            </li>
          </ng-container>

          <!-- Dropdown utilisateur si connecté -->
          <ng-container *ngIf="isLoggedIn$ | async">
            <li class="nav-item dropdown" >
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                {{ fullname$ | async }}
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><button class="dropdown-item btn btn-danger" (click)="logout()">Déconnexion</button></li>
              </ul>
            </li>
          </ng-container>
        </ul>
      </div>
    </nav>
  </div>
</div>
